body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(45, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}
#search {
    margin-top: 20px;
}
.naglowek {
    background-image: url('http://www.digitech-i.com/sites/default/files/empty-banner.jpg');
    color: #ff0000;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
}
.naglowek #logo{
    float:left;
    margin-left: 200px;
    margin-top: 20px;
}

.naglowek #menu{
    float:right;
    margin-right: 200px;
    margin-top: 16px;
    color: #BBBBBB;
    font-size: 16px;
    font-weight: bold;
}

.link{
    color: #BBBBBB;
    font-size: 15px;
    font-weight: bold;
}

.linkia{
    color: #BBBBBB;
    text-decoration: none;
}

.naglowek #menu a{
    color: #BBBBBB;
    text-decoration: none;
}

.obrazek {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 100px;
}

.three .obrazek {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 200px;
}

.katalog {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 200px;
}

.content {
    background-color: #000000;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 20px;
}
.shot1 {
    background-color: #243324;
    padding: 30px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-radius-topright: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    -khtml-border-radius-bottomright: 8px !important;
    -khtml-border-radius-bottomleft: 8px !important;
    -moz-border-radius-bottomright: 8px !important;
    -moz-border-radius-bottomleft: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.shot3 {
    background-color: #243324;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-radius-topright: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    -khtml-border-radius-bottomright: 8px !important;
    -khtml-border-radius-bottomleft: 8px !important;
    -moz-border-radius-bottomright: 8px !important;
    -moz-border-radius-bottomleft: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.shot5 {
    background-color: #243324;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-radius-topright: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    -khtml-border-radius-bottomright: 8px !important;
    -khtml-border-radius-bottomleft: 8px !important;
    -moz-border-radius-bottomright: 8px !important;
    -moz-border-radius-bottomleft: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.single_image {
    width: 100%;
}

.three {
    float: left;
    width: 233px;
}

.five {
    float: left;
    width: 140px;
}