{% extends "layout.html" %}

{% block header %}
<a href="{{ url_for('list') }}" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Główna</a>
<a href="{{ url_for('upload') }}">Wgraj_Obrazek</a>
<a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
    <center>
        <h3 style="color: #ffffff">
            Podaj nazwe katalogu
        </h3>
    <form action="/add_catalog/{{ path }}/" enctype=multipart/form-data method="post">
        <input type="text" multiple name="name_catalog" autofocus/>
        <input type="submit" value="dodaj"/>
    </form>
        </br>
        </br>
        </br>
    </center>
{% endblock %}