{% extends "layout.html" %}

{% block header %}
<a href="{{ url_for('list') }}" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Główna</a>
<a href="{{ url_for('upload') }}">Wgraj_Obrazek</a>
<a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
<div style="color: #ffffff"><h3><center>{{ message }}</br></br></br></center></h3></div>
{% endblock %}