{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="span8">
        <div class="row">
            <div class="span4">
                    {% for image in images %}
                    <div class="shot1">
                    <center>
                        {% if (image.split("."))|length==2 %}<a href="/image/{{image}}"><img class="obrazek" src="{{ url_for('static', filename=image) }}" alt="{{ image }}"> </img></a>{% endif %}
                        {% if (image.split("."))|length==1 %}<a href="/{{ image.replace('upload','images') }}"><img class = "katalog" src="{{ url_for('static', filename='folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Przejdź do katalogu</font>{% endif %}
                    </center>
                    </div>
                    {% endfor %}
                <a href="{{ url_for('zip_images') }}">Pobierz zip</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}