{% extends "layout.html" %}

{% block header %}
<a href="{{ url_for('list') }}">Główna</a>
<a href="{{ url_for('upload') }}">Wgraj_Obrazek</a>
<a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span8">
        <h2 class="offset2">Obrazek</h2>
        <div class="row">
            <div class="span4">
                <h3>Usuń</h3>
                Obrazek został usunięty
            </div>
        </div>
    </div>
</div>
{% endblock %}