{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="span8">
        <div class="row">
            <div class="shot1">
                <center style="color: #ffffff">
                    <img class="single_image" src="{{ url_for('static', filename=image) }}" alt="{{ image }}"> </img>
                    Przenies do katalogu:<form action="/move/{{ image }}/" enctype=multipart/form-data method="post">
                        <select name=lista>
                            {% for katalog in katalogi %}
                                <option value="{{ katalog }}">{{ katalog }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="przenies"/>
                    </form>
                </center>
            </div>
                 <a class="link" href="{{ url_for('zip_image', image_name=image) }}">Pobierz zip</a>
                 <a class="link" href="{{ url_for('delete_image', image_name=image) }}">Usuń obrazek</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}