<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>ImagesPage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="container">
            <div class="naglowek">
                <div id="logo">
                    <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3pBYL9BLt95itkEgJ6GZcnKgVNH3t0wwPbQRed2HZq4nYcYEKNw"/></a>
                </div>
                <div id="menu">
                    <h3>
                        <a href="{{ url_for('upload') }}">Wgraj_Obrazek</a>
                        <a href="/list/1/">Obrazki</a>
                    </h3></div>
                </div>
            </div>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>