{% extends "layout.html" %}

{% block header %}
Główna
<a href="{{ url_for('upload') }}" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Wgraj_Obrazek</a>
<a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
        <center>
        <div class="link">
            <a class="linkia" href="/list/1/">Jedna kolumna</a> |
            <a class="linkia" href="/list/3/">Trzy kolumny</a> |
            <a class="linkia" href="/list/5/">Pięć kolumn</a>
        </div>
        </center>
        {% if kol == 1 %}
            {% if images|length>0 %}
                <div class="shot1">
                    <center>
                        <a href="/add_catalog/{{ '/'.join(images[0].split('/')[:-1]) }}"><img class = "katalog" src="{{ url_for('static', filename='add_folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Dodaj katalog</font>
                    </center>
                </div>
            {% endif %}
            {% if images|length==0 %}
                <div class="shot1">
                    <center style="color: #ffffff">
                        <h3>Ten katalog jest pusty</h3>
                    </center>
                </div>
            {% endif %}
        {% for image in images %}
        <div class="shot1">
            <center>
                {% if (image.split("."))|length==2 %}<a href="/image/{{image}}"><img src="/static/{{image.split('.')[0]}}400.min" alt="/static/{{image.split('.')[0]}}400.min"> </img></a>{% endif %}
                {% if (image.split("."))|length==1 %}<a href="/list/1/{{ image.replace('upload/','') }}"><img class = "katalog" src="{{ url_for('static', filename='folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Przejdź do katalogu: {{ image.split('/')[-1:][0] }}</font>{% endif %}
            </center>
        </div>
        {% endfor %}
        {% endif %}


        {% if kol == 3 %}
            {% if images|length==0 %}
            <div class="shot1">
                <center style="color: #ffffff">
                    <h3>Ten katalog jest pusty</h3>
                </center>
            </div>
            {% endif %}
        {% set i=-1 %}
        <div class="three">
        {% for image in images %}
        {% if i>= images|length/3 %}
            </div>
            <div class ="three">
            {% set i = 0 %}
        {% endif %}
        <div class="shot3">
                {% if i == -1 %}
                    <div class="shot3">
                        <center>
                            <a href="/add_catalog/{{ '/'.join(images[0].split('/')[:-1]) }}"><img class = "katalog" src="{{ url_for('static', filename='add_folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Dodaj katalog</font>
                        </center>
                    </div>
                    {% set i = 1 %}
                {% endif %}
            <center>
                {% if (image.split("."))|length==2 %}<a href="/image/{{image}}"><img class="obrazek" src="/static/{{image.split('.')[0]}}200.min" alt="/static/{{image.split('.')[0]}}200.min"> </img></a>{% endif %}
                {% if (image.split("."))|length==1 %}<a href="/list/3/{{ image.replace('upload/','') }}"><img class = "katalog" style="" role="width: 233px;"  src="{{ url_for('static', filename='folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Przejdź do katalogu: {{ image.split('/')[-1:][0] }}</font>{% endif %}
            </center>
        </div>
        {% set i=i+1 %}
        {% endfor %}
                </br>
        </div>
        {% endif %}

        {% if kol == 5 %}
        {% set i=-1 %}
        <div class="five">
            {% for image in images %}
            {% if i>= images|length/5 %}
        </div>
        <div class ="five">
            {% set i = 0 %}
            {% endif %}
            {% if i == -1 %}
                <div class="shot5">
                    <center>
                        <a href="/add_catalog/{{ '/'.join(images[0].split('/')[:-1]) }}"><img class = "katalog" width=100 src="{{ url_for('static', filename='add_folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Dodaj katalog</font>
                    </center>
                </div>
                {% set i = 1 %}
            {% endif %}
            <div class="shot5">
                <center>
                    {% if (image.split("."))|length==2 %}<a href="/image/{{image}}"><img class="obrazek" src="/static/{{image.split('.')[0]}}100.min" alt="/static/{{image.split('.')[0]}}100.min"> </img></a>{% endif %}
                    {% if (image.split("."))|length==1 %}<a href="/list/5/{{ image.replace('upload/','') }}"><img class = "katalog" style="width: 100px;" src="{{ url_for('static', filename='folder.png') }}" alt="{{ image }}"/></a></br><font color="#888888">Przejdź do katalogu: {{ image.split('/')[-1:][0] }}</font>{% endif %}
                </center>
            </div>
            {% set i=i+1 %}
            {% endfor %}
            </br>
        </div>
        {% endif %}
        <a class="link" href="{{ url_for('zip_images') }}">Pobierz zip</a>
{% endblock %}