{% extends "layout.html" %}

{% block header %}
<a href="{{ url_for('list') }}">Główna</a>
<a href="{{ url_for('upload') }}">Wgraj_Obrazek</a>
<a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="span8">
            <h2 class="offset2">Poszukiwane</h2>
            <div class="row">
                <div class="span4">
                    <h3>Przez Ciebie</h3>
                    <ul class="entries">
                    {% for entry in user_entries %}
                        <li>
                          <a href="{{ url_for('search', q=entry.query) }}">{{ entry.query }}</a>
                          ({{ entry.datetime }})
                        </li>
                        {% else %}
                        <li><em>Brak danych</em></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="span4">
                    <h3>Przez wszystkich</h3>
                    <ul class="entries">
                    {% for entry in all_entries %}
                        <li>
                          <a href="{{ url_for('search', q=entry.query) }}">{{ entry.query }}</a>
                          ({{ entry.datetime }})
                        </li>
                        {% else %}
                        <li><em>Brak danych</em></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="span4">
            <h2>Popularne</h2>
            <ul>
            {% for entry in popular_queries %}
                <li>
                    <a href="{{ url_for('search', q=entry.query) }}">{{ entry.query }}</a>
                    ({{ entry.count }})
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}