{% extends "layout.html" %}

{% block header %}
<a href="{{ url_for('list') }}">Główna</a>
<a href="{{ url_for('upload') }}">Wgraj_Obrazek</a>
<a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span8">
        <h2 class="offset2" style="color: #ffffff">Wgrywanie</h2>
        <div class="row">
            <div class="span4" style="color: #ffffff">
                <h3>Wgrywanie obrazka</h3>
                {% if success %}
                <div>{{ number }} obrazek(-ów) zostało wgrane</div>
                {% else %}
                <div>Wgranie obrazka (-ów) nie powiodło się<br/><br/>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}