{% extends "layout.html" %}

{% block header %}
        <a href="{{ url_for('list') }}">Główna</a>
        Wgraj_Obrazek
        <a href="{{ url_for('images') }}">Obrazki</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span8">
        <h2 class="offset2" style="color: #bbbbbb">Wgrywanie</h2>
        <div class="row">
            <div class="span4" style="color: #bbbbbb">
                <h3>Wgraj obrazek</h3>
                <form action="{{ url_for('uploaded') }}" enctype=multipart/form-data method="post">
                    <input type="file" multiple name="image[]"/><br/>
                    <input type="submit" value="Wgraj"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
